
<div class="row p-5">
    
    <div class="col-md-5">
        <div style="width: 100%; background: #747484; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);border-radius: 6px; color:#fff; align-items: center;">
            <p style="font-weight: bold;">Diagnose:</p>
            <p style="text-align: justify; font-weight: bold;">Esse espaço será dedicado a uma explicação rádipa baseada nos resultados obtidos, considerando as porcentagens de cada teste.</p>
        </div>
        <div style="width: 100%; background: #747484; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);border-radius: 6px; color:#fff;">
            <p style="font-weight: bold;">Inflamação pulmonar:</p>
            <p style="text-align: justify; font-weight: bold;">Leve/Moderada/Grave</p>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <circle-progress
                [percent]="75"
                [radius]="50"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#afeeee'"
                [outerStrokeGradient]=true 
                [outerStrokeGradientStopColor]="'#11164D'"
                [innerStrokeColor]="'#afeeee'"
                [animation]="true"
                [animationDuration]="1000"
                > </circle-progress>
                Caracteristica 1
            </div>
            <div class="col-md-4">
                <circle-progress
                [percent]="75"
                [radius]="50"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#afeeee'"
                [outerStrokeGradient]=true 
                [outerStrokeGradientStopColor]="'#11164D'"
                [innerStrokeColor]="'#afeeee'"
                [animation]="true"
                [animationDuration]="1000"
                > </circle-progress>
                Caracteristica 2
            </div>
            <div class="col-md-4">
                <circle-progress
                [percent]="75"
                [radius]="50"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#afeeee'"
                [outerStrokeGradient]=true 
                [outerStrokeGradientStopColor]="'#11164D'"
                [innerStrokeColor]="'#afeeee'"
                [animation]="true"
                [animationDuration]="1000"
                > </circle-progress>
                Caracteristica 3
            </div>
            
        </div>
        <div style="margin-top: 30px;"class="row">
            <div class="col-md-6">
                <button style="width: 100%; color: #fff; background: #89B6FB; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Corte Frontal</button>
            
                <button style="width: 100%; color: #fff; background: #2A3B55; margin-top: 30px; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Corte Lateral (PE)</button>
            </div>
            <div class="col-md-6">
                <button style="width: 100%; color: #fff; background: #4085f0; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Corte Lateral (PD)</button>
            
                <button style="width: 100%; color: #fff; background: #05152D; margin-top: 30px; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Rotação 360° (Vídeo)</button>
            </div>

        </div>
    </div>
    <div class="col-md">
        <div style="margin-left: 60px ;">
            <img src="../../assets/images/image 7.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <button style="width: 100%; color: #fff; background: #11164D; margin-top: 30px; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Salvar Imagens (.jpeg)</button>
            </div>
            <div class="col-md-6">
                <button style="width: 100%; color: #fff; background: #CD1C25; margin-top: 30px; border-radius:6px; height: 80px; font-size: 25px; font-weight: bold;" class="btn"> Laudo Completo (PDF)</button>
            </div>
        </div>
    </div>
</div>
