<div>
    <img class="fundo" src="../../assets/images/Vector 1.png"/>
    <div class="row">
        <div style="margin-left: 40px; margin-top:  40px; z-index: 2;" class="col-md-8 ">
            <h1 style="font-family: Droid Sans; font-weight: bold; font-size: 90px;">DiagnoSiS</h1>
        </div>
    </div>
    <div class="row">
        <div style="margin-left: 40px;" class="col-md-8">
            <p style="font-family: Droid Sans; text-align:justify; font-size: 20px;">Plataforma Computacional Open Source Baseada em Deep Learning para Auxílio na Detecção/Diagnóstico do COVID-19 a partir de Imagens de Exames de Radiografia Plataforma Computacional Open Source Baseada em Deep Learning para Auxílio na Detecção/Diagnóstico do COVID-19 a partir de Imagens de Exames de Radiografia </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button style="background:#747484;color:#fff;border-radius:6px;margin-left:80px;margin-top:80px;align-items: center;width: 100%;font-size: 25px;" class="btn btnHome" (click)="diagnose()" >Diagnose</button>
        </div>
        <img style="position: absolute; right: -120px; top: -40px;" src="../../assets/images/logoM.png" alt="logo"/>
    </div>
    <!-- Footer -->
    <footer style="margin-top: 50px; margin-left: 80px;" id="footer">
        <br>
        <br>
        <img src="../../assets/images/governo.png" alt="brasao"  />
        <img src="../../assets/images/icones.png" alt="governo"  />                
        <img src="../../assets/images/fapesq.png" alt="img"  />
    </footer>    
    
</div>
